.Header {
  height: 40px;
  background-color: rgb(156, 156, 156);
  background: linear-gradient(110deg, rgba(255, 255, 255, 0.418), #dfdede);
  border-bottom: 1px solid white;
  top: 0;
  position: sticky;
  z-index: 100;
}

.Info {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgba(0, 0, 0, 0.767);
}

.InfoItem {
  margin: 0;
  flex: 1;
}

.InfoHeader {
  flex: 3;
  color: rgba(0, 0, 0, 0.411);
}
