.Header {
  height: 60px;
  background-color: rgb(156, 156, 156);
  background: linear-gradient(110deg, rgba(0, 0, 0, 0.87), #F9FAFB);
  border-bottom: 1px solid white;
}

.Info {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgba(0, 0, 0, 0.87);
}

.InfoItem {
  margin: 0;
  flex: 1;
}

.InfoHeader {
  flex: 3;
}
